<%= simple_form_for(@contact, url: contacts_path, html: { multipart: true, method: :post} ) do |f| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this enquiry from being sent:</h2>

      <ul>
      <% @contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="form-group col-lg-4">
      <label>Name</label>
      <%= f.input_field :name, :required => true, class: 'form-control', style: 'padding-top:1px;padding-bottom:1px;line-height:30px;' %>
    </div>
    <div class="form-group col-lg-4">
      <label>Email Address</label>
      <%= f.input_field :email, class: 'form-control', style: 'padding-top:1px;padding-bottom:1px;line-height:30px;' %>
    </div>
    <div class="form-group col-lg-4">
      <label>Phone Number</label>
      <%= f.input_field :phone, as: :string, :required => true, class: 'form-control', style: 'padding-top:1px;padding-bottom:1px;line-height:30px;' %>
    </div>
    <div class="clearfix"></div>
    <div class="form-group col-lg-12">
      <label>Message</label>
      <%= f.input_field :message, as: :text, class: 'form-control', style: 'padding-top:1px;padding-bottom:1px;line-height:30px;', input_html: {rows: 4, required: true} %>
    </div>
    <%= f.input_field :hidden_field, id: 'bot', style: 'display:none;' %>

    <%= f.submit 'Send the Message', class: 'btn btn-primary', style: 'margin-left:15px;line-height:20px;padding-top:3px;' %>
  </div>
      
<% end %>
