<!DOCTYPE html>
<!-- Microdata markup added by Google Structured Data Markup Helper. -->
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Wooden Horse Restaurant</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'partials/navbar' %>

<%= render 'partials/messages' %>	

<%= yield %>

<%= render 'partials/footer' %>

</body>
</html>
